body{
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
}


.footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 90px;
    background-color: rgb(96, 141, 125);
    text-align: center;

    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
}

.page{
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.href_inText{
    font-weight: normal;
    text-decoration: none!important;

    color: black;
}

.href_inText:visited{
    color: black;
}

#edit_hrefInText:hover{
    color: rgba(255, 140, 0, 0.77);
}

#delete_hrefInText:hover{
    color: rgba(255, 60, 0, 0.77);
}

#create_hrefInText:hover{
    color: rgba(76, 197, 81, 0.77);
}

.column_div\(outer\){
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}
.row_div{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.action_buttonCreatePosition{
    z-index: 2;
    padding-left: 14.75%;
    padding-top: 2.85%;
    position: fixed;
}
#create:hover{
    background-color: transparent;
    color: green;
    border: 1px solid green;
}

.column_div{
    display: flex;
    flex-direction: column;
}

table{
    margin: auto;
}

.th_booking{
    background-color: #608d7d;
}

.buttons_column{
    background-color: rgb(96, 141, 125);
    table-layout: auto;
    text-align: center;
}

#buttonSuccessSearch{
    background-color: white;
}
#buttonSuccessSearch:hover{
    background-color: green;
}

#buttonCustomer{
    background-color: white;
    color: #8D608C;
    border-color: #8D608C;
}
#buttonCustomer:hover{
    background-color: #8D608C;
    color: white;
}

#buttonMotorhome{
    background-color: white;
    color: #5064d0;
    border-color: #5064d0;
}

#buttonMotorhome:hover{
    background-color: #5064d0;
    color: white;
}

.action_button{
    background-color: transparent;
    text-decoration: none!important;
}
.action_button:visited{
    text-decoration: none!important;
}

#action_buttonEdit:hover{
    color: white;
}

#descriptionCustomer{
    margin-top: -2%;
}

#descriptionDate{
    margin-top: 2%;
}

#goBack{
    margin: auto;
    margin-top: 2%;
    position: relative;
    font-family: "Arial Rounded", system-ui;
}

.goBack\&homeButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 42%;
    margin-right: 40%;
}

