body{
    display: flex;
    flex-direction: column;
}

#pageHeader {
    padding-top: 6%;
}
#addButton {
    display: flex;
    justify-content: end;
    align-items: end;
}

#addNewButton:hover{
    background-color: transparent;
    color: green;
    border: 1px solid green;
}

#orderByButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    padding: 2%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
}

.header_href{
    margin: auto;
    position: relative;
}

#customer-table th {
    color: #ffffff;
    background-color: #8D608C;
}

.customerButton {
    margin: 5px;
}

a {
    text-decoration: none !important;
}

#editbutton:hover{
    color: white;
}

#goBack{
    padding-top: 2%;
    margin: auto;
    position: relative;
    font-family: "Arial Rounded", system-ui;
}