#pageHeader {
    padding-top: 6%;
    font-size: 480%;
    font-family: lucida, sans-serif;
    font-weight: bold;
    text-align: center;
}

#addButton {
    display: flex;
    justify-content: end;
    align-items: end;
}

#orderByButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    padding: 2%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
}

.header_href{
    margin: auto;
    position: relative;
}

#customer-table th {
    color: #ffffff;
    background-color: #8D608C;
}

.customerButton {
    margin: 5px;
}

a {
    text-decoration: none !important;
}

.goBackButton {
    margin: 15px;
}

