body {
    margin: 0;
    padding: 0;
}

.page {
    padding-top: 6%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 480%;
    font-family: lucida, sans-serif;
    font-weight: bold;
    text-align: center;
}

.description{
    text-align: center;
    font-family: "Arial Rounded", system-ui;
    font-weight: lighter;
    font-size: 140%;
    padding-bottom: 2%;
}

.form{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(12, 12, 12, 0.84);
    border-radius: 20px;
    margin: auto;
    padding: 4% 6%;
    box-shadow: 0 0 20px rgb(204, 204, 204);
}

.label{
    font-family: "Arial Rounded", system-ui;
    font-weight: lighter;
    display: flex;
}

#label_licensePlate{
    font-size: 140%;
    margin-bottom: 5%;
}


#label_type{
    font-size: 160%;
    margin: auto;
    margin-left: -4%;
}

#submit{
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 30%;
}

#submit:hover{
    color: white;
}

.input{
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid red;
    text-align: center;
    margin-top: 5%;
    font-size: 70%;
}

#input_type{
    margin-left: 10%;
}


.input:valid{
    border-bottom: solid blue 1px;
}

.input:invalid{
    border-bottom: 1px solid red;
}


.horizontalContainer\(outer\){
    padding-top:1.5%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: center;
}

.verticalDiv{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    margin-right: 15%;
}


.horizontalDiv{
    width: 150%;
    display: flex;
    flex-direction: row;
}

#HorizontalDiv1{
    margin-bottom: 2%;
}

#HorizontalDiv2{
    margin-top: 2%;
}
.textDiv{
    padding: 2% 4.25%;
    border: 1px solid rgba(12, 12, 12, 0.84);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: inherit;
    margin-right: 2%;
    margin-left: 2%;
    align-items: center;
}
.textDiv:hover{
    box-shadow: 0 0 10px #ccc;;
}

.info{
    font-family: "Arial Rounded", system-ui;
    font-weight: lighter;
    font-size: 100%;
    width: 150%;
}

.href_inText{
    font-weight: bold;
    text-decoration: none!important;
    color: black;
}
.href_inText:hover{
    text-decoration: none!important;
    color: black;
}


#goBack{
    font-family: "Arial Rounded", system-ui;
    margin: auto;
}

#goBackPosition{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.alert_error{
    font-family: "Arial Rounded", system-ui;
    font-weight: lighter;
    color: #bd0101;
}

#type_error{
    margin-top: 4%;
}
