body{
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
}
#motorhomePage{
    padding-bottom: 5%;
}
.column_div\(outer\){
    display: flex;
    flex-direction: column;
    margin: auto;
}
.row_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5%;
}

.action_buttonCreatePosition{
    position: relative;
}

#FilterPosition{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 68%;
}

#try{
    display: flex;
}
#create:hover{
    background-color: transparent;
    color: green;
    border: 1px solid green;
}

.column_div{
    display: flex;
    flex-direction: column;
}

.motorhome_table{
    margin: auto;
}

.th_motorhome{
    background-color: rgb(76, 87, 169);
}

.buttons_column{
    background-color: rgb(76, 87, 169);
    table-layout: auto;
    text-align: center;
}
.action_button{
    background-color: transparent;
    text-decoration: none!important;
}
.action_button:visited{
    text-decoration: none!important;
}

#action_buttonEdit:hover{
    color: white;
}

.filterButtonPosition{
    z-index: 1;
    position: relative;
    padding-bottom: 1%;
}

.a_filter{
    color: white;
    background-color: transparent;
}

.a_filter:visited{
    text-decoration: none!important;
}

.a_filter:hover{
    text-decoration: none!important;
}


#goBack{
    margin: auto;
    margin-top: 4%;
    position: relative;
    font-family: "Arial Rounded", system-ui;
}


.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 1px solid rgb(111, 117, 124);
    border-right: none;
    height: 36.5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: rgb(0, 0, 0);
}

.searchTerm:focus{
    color: rgb(0, 0, 0);
}

.searchButton {
    width: 80px;
    height: 36.50px;
    border: 2px solid rgb(183, 186, 190);
    background: rgb(183, 186, 190);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchButton:hover{
    background-color: #6f757c;
    border: 2px solid rgb(111, 117, 124);;
}
/*
.wrap{
    margin-left: 35%;
    padding-bottom: 1%;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 */

#searchButtonText{
    font-weight: normal;
    font-size: small;
    color: white;
    font-family: "Arial Rounded", system-ui;
    margin-bottom: 22%;
    margin-top: 13%;
    padding-right: 1%;
}


