<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>:(</title>
</head>
<style>

    .page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 15%;
    }
    .title{
        font-size: 460%;
        font-family: lucida,sans-serif;
        font-weight: bold;
        margin: auto;
        text-align: center;
    }

    .description{
        text-align: center;
        font-size: 140%;
        font-family: "Arial Rounded", system-ui;
        font-weight: lighter;
        margin: 2% auto auto;
    }

</style>
<body>
<div class="page">
    <h1 class="title">Ops, something went wrong</h1>
    <a class="description" th:href="@{'/'}">Solve Problem</a>
</div>
</body>
</html>