<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Add booking</title>
    <link th:href="@{/motorhome.css}" rel="stylesheet">

    <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 55px;
            background: grey;
            display: flex;
            flex-direction: row;
        }
    </style>
</head>


<body>
<!--<nav class="navBar">-->
<!--    <img class="logo" th:src="@{images/Logo.png}" alt="Logo">-->
<!--    <a class="navBar_href" href="booking">Booking</a>-->
<!--    <a class="navBar_href" href="motorhome">Motorhome</a>-->
<!--    <a class="navBar_href" href="client.html">Client</a>-->
<!--</nav>-->

<h1>Create booking</h1>
<div th:if="${!dateError}">
<table>
    <tr>
        <th></th>
        <th width="75">License plate</th>
        <th width="25">Num. of people</th>
        <th width="50">Type</th>
        <th width="Price per day">Date in</th>
        <th class="buttons_column">Select</th>
    </tr>


    <div th:each="motorhome:${motorhomes}">
        <div th:each="motorhomeId:${booked}"
             th:if="${motorhome.getLicense_plate()} eq ${motorhomeId}">

            <form action="/createBooking" method="post">
            <tr>
                    <td th:if="${motorhome.getBrand()} eq 'Mercedes'"><img th:src="@{images/mercedes.png}" width="50"></td>
                    <td th:if="${motorhome.getBrand()} eq 'Ford'"><img th:src="@{images/ford.png}" width="50"></td>
                    <td th:if="${motorhome.getBrand()} eq 'Fiat'"><img th:src="@{images/fiat.png}" width="50"></td>
                    <td th:value="${motorhome.license_plate}" th:text="${motorhome.license_plate}"/>
                    <input hidden name="motorhomeId" th:value="${motorhome.license_plate}">
                    <td th:text="${motorhome.number_of_persons}"/>
                    <td th:if="${motorhome.isLuxury} eq 'Yes'" th:text="Luxury"/>
                    <td th:if="${motorhome.isLuxury} eq 'No'" th:text="Crap"/>
                    <td th:text="${motorhome.base_price}"/>

                    <input hidden name="client" th:value="${client}">
                    <input hidden name="dateStart" th:value="${dateStart}">
                    <input hidden name="dateEnd" th:value="${dateEnd}">
                    <td class="buttons_column">
                        <button class="action_button" id="action_buttonEdit" th:href="@{'/createBooking'}">Select</button>
                    </td>
            </tr>

            </form>
        </div>
    </div>
</table>
</div>
<div class="text">
<h1 th:if="${isEmpty==true}"> There are no available motorhomes of this type!</h1>
<h3 th:if="${isEmpty==true}"> Try search for different dates or type of motorhome</h3>
<h1 th:if="${dateError}">Entered dates are not valid: End date supposed to be after Start date!</h1>
</div>

<a class="goBack" th:href="@{'/'}">Home Page</a>
<div id="footer">
    <form action="/addBooking" method="post">
        <select name="brand" >
            <option value="Ford" th:if="${brand}==Ford" th:selected>Ford</option>
            <option value="Mercedes" th:if="${brand}==Mercedes" th:selected>Mercedes</option>
            <option value="Fiat" th:if="${brand}==Fiat" th:selected>Fiat</option>

        </select>
        <select name="client">
            <option th:each="customer:${customers}"
                    th:value="${customer.id}"
                    th:text="${customer.first_name} +' '+ ${customer.last_name}"
                    th:selected="${customer.id==client}">Name
            </option>
        </select>
        <input name="dateStart" type="date" th:value="${dateStart1}" required>
        <input name="dateEnd" type="date" th:value="${dateEnd1}" required>
        <select name="numberOfPpl">
            <option value="2" th:if="${numberOfPpl}==2" selected>Two</option>
            <option value="3" th:if="${numberOfPpl}==3" selected>Three</option>
            <option value="4" th:if="${numberOfPpl}==4" selected>Four</option>
            <option value="6" th:if="${numberOfPpl}==6" selected>Six</option>
        </select>
        <select name="type" th:selected="${type}">
            <option value="Yes" >Luxury</option>
            <option value="No" >Economy</option>
        </select>
        <input hidden value="addBooking" name="page">
        <button>Search again</button>
    </form>

</div>
</body>
</html>