<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/customer.css}" rel="stylesheet"/>
</head>

<body>
<h1>Add New Customer</h1>
    <form th:action="@{/addCustomer}" th:object="${customer}" method="post">
        <input type="text" th:field="*{first_name}" placeholder="First Name">
        <input type="text" th:field="*{last_name}" placeholder="Last Name">
        <input type="text" th:field="*{dob}" placeholder="Date Of Birth">
        <input type="text" th:field="*{email}" placeholder="Email">
        <input type="text" th:field="*{phone_number}" placeholder="Phone Number">
        <input type="submit" value="Add Customer!">
    </form>
</body>
</html>