<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
</head>
<style>

    body{
        margin: 0;
        padding: 0;
    }

    .header{
        padding: 2%;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid gray;
    }

    .header_href{
        margin: auto;
        position: relative;
    }
</style>
<body>

    <div class="header">
        <a class="header_href" href="booking.html">Booking</a>
        <a class="header_href" href="motorhome.html">Motorhome</a>
        <a class="header_href" href="client.html">Client</a>
    </div>

    <h1>Booking</h1>
    <a href="index.html">Go back</a>
</body>
</html>