<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Motorhome</title>
    <link th:href="@{/createMotorhome.css}" rel="stylesheet">
</head>
<body>

<div class="navBar">
    <img class="logo" th:src="@{images/Logo.png}" alt="Logo">
    <a class="navBar_href" id="navBar_href1" th:href="@{'/booking'}">Booking</a>
    <a class="navBar_href" id="navBar_href2" th:href="@{'/motorhome'}">Motorhome</a>
    <a class="navBar_href" id="navBar_href3" th:href="@{'/client'}">Client</a>
</div>

<div class="page">
    <div class="text">
        <h1 class="title">Create</h1>
        <p class="description">
            Fill all the fields and press submit to create and save a new motorhome in the system
        </p>
    </div>

    <div class="horizontalContainer(outer)">

        <form class="form" action="#" th:action="@{/createMotorhome}" th:object="${motorhome}" method="post">

            <label class="label" id="label_licensePlate">License Plate
                <input class="input" id="input_licensePlate" type="text" th:field="*{license_plate}" required>
            </label>

            <label class="label" id="label_type">Type
                <input class="input" id="input_type" type="text" th:field="*{type}" required>
            </label>

            <input class="create_button" type="submit" name="Create">

        </form>

        <div class="verticalDiv">

            <div class="horizontalDiv" id="HorizontalDiv1">
                <div class="textDiv" id="1">
                    <p class="info"><a class="href_inText">• Type 1</a> <br><br>
                        Capacity: <a class="href_inText">2</a>
                        <br>Brand: <a class="href_inText">Ford</a>
                        <br>Luxury: <a class="href_inText">No</a>
                        <br>Price: <a class="href_inText">25 dkk</a>
                    </p>
                </div>
                <div class="textDiv" id="2">
                    <p class="info"><a class="href_inText">• Type 2</a> <br><br>
                        Capacity: <a class="href_inText">2</a>
                        <br>Brand: <a class="href_inText">Mercedes</a>
                        <br>Luxury: <a class="href_inText">Yes</a>
                        <br>Price: <a class="href_inText">35 dkk</a>
                    </p>
                </div>
                <div class="textDiv" id="3">
                    <p class="info"><a class="href_inText">• Type 3</a> <br><br>
                        Capacity: <a class="href_inText">3</a>
                        <br>Brand: <a class="href_inText">Fiat</a>
                        <br>Luxury: <a class="href_inText">No</a>
                        <br>Price: <a class="href_inText">35 dkk</a>
                    </p>
                </div>
                <div class="textDiv" id="4">
                    <p class="info"><a class="href_inText">• Type 4</a> <br><br>
                        Capacity: <a class="href_inText">3</a>
                        <br>Brand: <a class="href_inText">Mercedes</a>
                        <br>Luxury: <a class="href_inText">Yes</a>
                        <br>Price: <a class="href_inText">45 dkk</a>
                    </p>
                </div>
            </div>

            <div class="horizontalDiv" id="HorizontalDiv2">
                <div class="textDiv" id="5">
                    <p class="info"><a class="href_inText">• Type 5</a> <br><br>
                        Capacity: <a class="href_inText">4</a>
                        <br>Brand: <a class="href_inText">Ford</a>
                        <br>Luxury: <a class="href_inText">No</a>
                        <br>Price: <a class="href_inText">45 dkk</a>
                    </p>
                </div>
                <div class="textDiv" id="6">
                    <p class="info"><a class="href_inText">• Type 6</a> <br><br>
                        Capacity: <a class="href_inText">4</a>
                        <br>Brand: <a class="href_inText">Mercedes</a>
                        <br>Luxury: <a class="href_inText">Yes</a>
                        <br>Price: <a class="href_inText">55 dkk</a>
                    </p>
                </div>
                <div class="textDiv" id="7">
                    <p class="info"><a class="href_inText">• Type 7</a> <br><br>
                        Capacity: <a class="href_inText">6</a>
                        <br>Brand: <a class="href_inText">Fiat</a>
                        <br>Luxury: <a class="href_inText">No</a>
                        <br>Price: <a class="href_inText">55 dkk</a>
                    </p>
                </div>
                <div class="textDiv" id="8">
                    <p class="info"><a class="href_inText">• Type 8</a> <br><br>
                        Capacity: <a class="href_inText">6</a>
                        <br>Brand: <a class="href_inText">Mercedes</a>
                        <br>Luxury: <a class="href_inText">Yes</a>
                        <br>Price: <a class="href_inText">65 dkk</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="goBack" th:href="@{'/motorhome'}">Go back</a>
</div>
</body>
</html>