<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <link th:href="@{/booking.css}" rel="stylesheet">
    <link th:href="@{/global.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
<div class="navBar">
    <a th:href="@{'/'}" id="homeLink">
        <img class="logo" th:src="@{/images/Logo.png}" alt="Logo">
    </a>
    <a class="navBar_href" id="navBar_booking_link" th:href="@{'/booking'}">Booking</a>
    <a class="navBar_href" id="navBar_motorhome_link" th:href="@{'/motorhome'}">Motorhome</a>
    <a class="navBar_href" id="navBar_customer_link" th:href="@{'/customer'}">Customer</a>
</div>

<div class="page">
<h1 class="title">Edit Booking</h1>

<table class="table">

    <thead>
    <tr>
        <th></th>
        <th class="th_booking">Name</th>
        <th class="th_booking">Phone</th>
        <th class="th_booking">Num. of people</th>
        <th class="th_booking">Date in</th>
        <th class="th_booking">Date out</th>
        <th class="th_booking">Plate</th>
        <th class="th_booking">Type</th>
        <th class="th_booking">Actions</th>
    </tr>
    </thead>

    <div th:each="booking:${bookings}">
        <div th:each="motorhome:${motorhomes}">
            <div th:each="customer:${customers}"
                 th:if="${motorhome.getLicense_plate()} eq ${booking.motorhome_id} and ${booking.customer_id} eq ${customer.id}">
                <tr>
                    <form action="/changeBooking" method="post">
                        <td th:if="${motorhome.getBrand()} eq 'Mercedes'"><img th:src="@{/images/mercedes.png}" width="50"></td>
                        <td th:if="${motorhome.getBrand()} eq 'Ford'"><img th:src="@{/images/ford.png}" width="50"></td>
                        <td th:if="${motorhome.getBrand()} eq 'Fiat'"><img th:src="@{/images/fiat.png}" width="50"></td>
                        <td th:if="${booking.id} != ${editId}"
                            th:text="${customer.first_name} +' '+ ${customer.last_name}"/>
                        <td th:if="${booking.id} eq ${editId}"><select name="client">
                            <option th:each="customer:${customers}"
                                    th:value="${customer.id}"
                                    th:text="${customer.first_name} +' '+ ${customer.last_name}"
                                    th:selected="${customer.id}==${booking.customer_id}">Name
                            </option>
                        </select></td>
                        <td th:text="${customer.phone_number}"/>
                        <td th:text="${motorhome.number_of_persons}"/>
                        <td th:if="${booking.id} != ${editId}" th:text="${booking.date_start}"/>
                        <td th:if="${booking.id} eq ${editId}"><input name="dateStart" type="date"
                                                                      th:value="${booking.date_start}"></td>
                        <td th:if="${booking.id} != ${editId}" th:text="${booking.date_end}"/>
                        <td th:if="${booking.id} eq ${editId}"><input name="dateEnd" type="date"
                                                                      th:value="${booking.date_end}"></td>
                        <td th:text="${booking.motorhome_id}"/>
                        <td th:if="${motorhome.isLuxury} eq 'Yes'" th:text="Luxury"/>
                        <td th:if="${motorhome.isLuxury} eq 'No'" th:text="Crap"/>
                        <input hidden name="motorhome" th:value="${motorhome.license_plate}">
                        <input hidden name="booking" th:value="${booking.id}">
                        <td class="buttons_column">
                            <a th:if="${booking.id} != ${editId}" class="btn btn-outline-warning"
                               th:href="@{'/editBooking/'+${booking.id}}"
                               onclick="return confirm('If you want to change motorhome this booking should be DELETED and new CREATED')"
                               id="action_buttonEdit">Edit</a>
                            <a th:if="${booking.id} != ${editId}" class="btn btn-outline-danger"
                               th:href="@{'/deleteBooking/'+${booking.id}}"
                               onclick="return confirm('Are you sure you want to Delete?')"
                               id="action_buttonDelete">Delete</a>
                            <button th:if="${booking.id} eq ${editId}" class="btn btn-success"
                                    onclick="return confirm('Are you sure you want to Edit this booking?')"
                            >Save
                            </button>
                            <a th:if="${booking.id} eq ${editId}" class="btn btn-outline-danger" th:href="@{'/booking'}"
                               onclick="return confirm('Your changes will be discarded')"
                            >Cancel</a>
                        </td>
                    </form>
                </tr>
            </div>
        </div>
    </div>
</table>

<br>
<div class="d-flex justify-content-center">
    <a class="btn btn-outline-secondary" th:href="@{'/booking'}">Go Back</a>
</div>
<br><br><br><br><br>

<div class="footer">
    <form action="/addBooking" method="post">
        <div class="form-check-inline">
            <a th:href="@{'/createMotorhome'}" class="btn btn-outline-secondary" id="buttonMotorhome" >New motorhome</a>
        </div>
        <div class="form-check-inline">
            <a th:href="@{'/addCustomer'}" class="btn btn-outline-secondary" id="buttonCustomer" >New customer</a>
        </div>
        <div class="form-check-inline">
            <label class="mr-sm-2">Brand</label>
            <select name="brand" class="form-select">
                <option value="Ford">Ford</option>
                <option value="Mercedes">Mercedes</option>
                <option value="Fiat">Fiat</option>
            </select>
        </div>
        <div class="form-check-inline">
            <label class="mr-sm-2">Customer</label>
            <select name="client" class="form-select" title="To add customer go to Customer section">
                <option th:each="customer:${customers}"
                        th:value="${customer.id}"
                        th:text="${customer.first_name} +' '+ ${customer.last_name}">Name
                </option>
            </select>
        </div>

        <div class="form-check-inline">
            <label class="mr-sm-2">Start date</label>
            <input name="dateStart" type="date" class="input-group date" required>
        </div>
        <div class="form-check-inline">
            <label class="mr-sm-2">End date</label>
            <input name="dateEnd" type="date" class="input-group date" required>
        </div>
        <div class="form-check-inline">
            <label class="mr-sm-2">Num. of people</label>
            <select name="numberOfPpl" class="form-select">
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="6">Six</option>
            </select>
        </div>
        <div class="form-check-inline">
            <label class="mr-sm-2">Type</label>
            <select name="type" class="form-select">
                <option value="Yes">Luxury</option>
                <option value="No">Economy</option>
            </select>
        </div>
        <div class="form-check-inline">
            <button class="btn btn-outline-success" id="buttonSuccessSearch">Search</button>
        </div>
    </form>
</div>
</div>
</body>
</html>