<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome</title>
</head>
<style>

    body{
        margin: 0;
        padding: 0;
    }

    .header{
        padding: 2%;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid gray;
    }

    .header_href{
        margin: auto;
        position: relative;
    }
</style>

<body>

    <div class="header">
        <a class="header_href" href="booking.html">Booking</a>
        <a class="header_href" href="vehicle.html">Vehicle</a>
        <a class="header_href" href="customer.html">Customer</a>
    </div>

    <h1>Nordic Motorhome</h1>
</body>
</html>