<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome</title>
    <link th:href="@{/index.css}" rel="stylesheet">
</head>
<body>

    <div class="navBar">
        <img class="logo" th:src="@{images/Logo.png}" alt="Logo">
        <a class="navBar_href" href="booking.html">Booking</a>
        <a class="navBar_href" href="motorhome.html">Motorhome</a>
        <a class="navBar_href" href="client.html">Client</a>
    </div>

    <div class="page">
        <div class="text">
            <h1 class="title">Nordic Motorhome</h1>
            <p class="body">
                Founded in 2019, Nordic Motorhome is a danish company<br>
                that rents out motorhomes.<br>
                We offer up to 32 motorhomes in 8 different types.<br>
                Convenient pick-up and drop-off points:<br>
                airports, ferry ports, and hotels are just some options. <br>
                <br>Choose what fits you the best!
            </p>
        </div>
        <img class="motorhome_image" th:src="@{images/1.png}">
    </div>
</body>
</html>